<!-- Mobile Warning Message -->
<div *ngIf="!isMobile" class="mobile-warning">
  <div class="warning-content">
    
    <p>Este convite está otimizado para dispositivos móveis.</p>
    <p>Por favor, abra este convite no seu telemóvel ou tablet.</p>
    <p class="small-text">Obrigado pela sua compreensão! 💕</p>
  </div>
</div>

<div *ngIf="isMobile" class="acomodacoes-page">
  <div class="acomodacoes-image">
    <div class="acomodacoes-logo">
      <a routerLink="/" class="icon-link">
        <img src="/assets/presentes-logo.svg" alt="Acomodações Logo">
      </a>
    </div>
    
    <div class="acomodacoes-header">
      <p class="acomodacoes-title">- ACOMODAÇÕES PERTO DA CERIMÔNIA/FESTA -</p>
      
      <p class="acomodacoes-subtitle">- Utilize os botões para ser direccionado -</p>
    </div>
    
    <!-- Propriedades de Acomodação -->
    <div class="acomodacoes-properties">
      <div class="property-item property-black-house">
        <h3 class="property-name">THE BLACK HOUSE</h3>
        <div class="property-links">
          <a href="#" target="_blank" class="property-link">WEBSITE</a>
          <span class="property-separator">|</span>
          <a href="#" target="_blank" class="property-link">INSTAGRAM</a>
        </div>
        <a href="#" target="_blank" class="property-location">LOCALIZAÇÃO</a>
      </div>
      
      <div class="property-item property-grand-hotel">
        <h3 class="property-name">THE GRAND HOTEL</h3>
        <div class="property-links">
          <a href="#" target="_blank" class="property-link">WEBSITE</a>
          <span class="property-separator">|</span>
          <a href="#" target="_blank" class="property-link">INSTAGRAM</a>
        </div>
        <a href="#" target="_blank" class="property-location">LOCALIZAÇÃO</a>
      </div>
      
      <div class="property-item property-croxley-farm">
        <h3 class="property-name">CROXLEY FARM</h3>
        <div class="property-links">
          <a href="#" target="_blank" class="property-link">WEBSITE</a>
          <span class="property-separator">|</span>
          <a href="#" target="_blank" class="property-link">INSTAGRAM</a>
        </div>
        <a href="#" target="_blank" class="property-location">LOCALIZAÇÃO</a>
      </div>
      
      <div class="property-item property-hayburg-house">
        <h3 class="property-name">HAYBURG HOUSE</h3>
        <div class="property-links">
          <a href="#" target="_blank" class="property-link">WEBSITE</a>
          <span class="property-separator">|</span>
          <a href="#" target="_blank" class="property-link">INSTAGRAM</a>
        </div>
        <a href="#" target="_blank" class="property-location">LOCALIZAÇÃO</a>
      </div>
      
      <div class="property-item property-pinardt">
        <h3 class="property-name">HOUSE OF PINARDT</h3>
        <div class="property-links">
          <a href="#" target="_blank" class="property-link">WEBSITE</a>
          <span class="property-separator">|</span>
          <a href="#" target="_blank" class="property-link">INSTAGRAM</a>
        </div>
        <a href="#" target="_blank" class="property-location">LOCALIZAÇÃO</a>
      </div>
    </div>
  </div>
    
  <div class="acomodacoes-centro-header">
    <p class="acomodacoes-centro-title">- ACOMODAÇÕES NO CENTRO DE CAPETOWN -</p>
    
    <p class="acomodacoes-centro-subtitle">- Utilize os botões para ser direccionado -</p>
  </div>
  
  <div class="acomodacoes-centro-content">
    <table class="acomodacoes-table">
      <thead>
        <tr>
          <th>NOME</th>
          <th>ZONA</th>
          <th>CONTACTOS</th>
          <th>WEBSITE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mandela Rhodes Place</td>
          <td>City Bowl/Centro</td>
          <td>+27 21 794 9050<br />+27 72 238 9220</td>
          <td><a href="https://www.mandelarhodes.org/" target="_blank">Mandela Rhodes</a></td>
        </tr>
        <tr>
          <td>Hotel Happy Rhino</td>
          <td>City Bowl/Encosta dos Jardins</td>
          <td>+27 21 423 2500</td>
          <td><a href="https://www.happyrhino.co.za/" target="_blank">Happy Rhino</a></td>
        </tr>
        <tr>
          <td>Pepperclub Hotel</td>
          <td>City Bowl/Gardens</td>
          <td>+27 (21) 812 8888<br />+27 (79)013-0026</td>
          <td><a href="https://www.pepperclub.co.za/" target="_blank">Pepperclub Hotel</a></td>
        </tr>
        <tr>
          <td>Belmond Mount Nelson</td>
          <td>Gardens</td>
          <td>+27 21 483 1000</td>
          <td><a href="https://www.belmond.com/" target="_blank">Belmond Mount</a></td>
        </tr>
        <tr>
          <td>Auberge Gardens</td>
          <td>Gardens/City Bowl</td>
          <td>+27 21 565 0769</td>
          <td><a href="https://www.aubergegardens.co.za/" target="_blank">Auberge Gardens</a></td>
        </tr>
        <tr>
          <td>Anew Hotel Green Point</td>
          <td>Green Point</td>
          <td>+27 21 180 2570</td>
          <td><a href="https://www.anewhotels.com/" target="_blank">Anew Hotel</a></td>
        </tr>
        <tr>
          <td>Hippo Boutique Hotel</td>
          <td>Perto de Company Gardens</td>
          <td>+27 21 423 2500</td>
          <td><a href="https://www.hippoboutiquehotel.co.za/" target="_blank">Hippotique</a></td>
        </tr>
        <tr>
          <td>Urban Chic Boutique Hotel</td>
          <td>Perto de Company Gardens/Long St</td>
          <td>+27 21 426 6119</td>
          <td><a href="https://www.urbanchichotel.co.za/" target="_blank">Urban Chic Hotel</a></td>
        </tr>
        <tr>
          <td>Home suite Hotels</td>
          <td>Sea Point</td>
          <td>+27 82 362 2603<br />+27 10 500 1557</td>
          <td><a href="https://www.homesuite.co.za/" target="_blank">Home Suite</a></td>
        </tr>
        <tr>
          <td>President Hotel</td>
          <td>Sea Point</td>
          <td>+27 21 434 8111</td>
          <td><a href="https://www.presidenthotel.co.za/" target="_blank">President Hotel</a></td>
        </tr>
        <tr>
          <td>Mojo Hotel & Mojo Market</td>
          <td>Sea Point</td>
          <td>+27 57 940 7474<br />+27 82 239 4951</td>
          <td><a href="https://www.mojohotel.co.za/" target="_blank">Mojo Hotel</a></td>
        </tr>
        <tr>
          <td>The Winchester Hotel</td>
          <td>Sea Point/Beach Road</td>
          <td>+27 21 434 2351</td>
          <td><a href="https://www.winchesterhotel.co.za/" target="_blank">Winchester Hotel</a></td>
        </tr>
      </tbody>
    </table>
    
    <p class="acomodacoes-note" style="margin-bottom: 20px;">*Nota: Disponibilidade deve ser verificada com antecedência.</p>
  </div>
</div>

