<!-- Mobile Warning Message -->
<div *ngIf="!isMobile" class="mobile-warning">
  <div class="warning-content">
    
    <p>Este convite está otimizado para dispositivos móveis.</p>
    <p>Por favor, abra este convite no seu telemóvel ou tablet.</p>
    <p class="small-text">Obrigado pela sua compreensão! 💕</p>
  </div>
</div>

<div *ngIf="isMobile" class="presentes-page">
  <div class="presentes-logo">
    <a routerLink="/" class="icon-link">
      <img src="/assets/presentes-logo-2.svg"  alt="Presentes Logo">
    </a>
  </div>
  
  <p class="presentes-title">- WEEDING DRESSCODE -</p>
  
  <img src="assets/Clothing.svg" style="margin-top: -74px; width: 101%;" />
</div>

