.transporte-page {
  width: 100%;
  min-height: 100vh;
  background-color: #6a2e3a;
  background-image: url('/assets/presentes.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transporte-logo {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.transporte-logo img {
  width: 90px;
  height: auto;
}

.transporte-title {
  font-size: 11px;
  font-family: "Simonetta", serif;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

.transporte-subtitle {
  font-size: 10px;
  font-family: "Simonetta", serif;
  color: #fff;
  text-align: center;
  margin: 5px 0 0 0;
  padding: 0;
}

.transporte-image {
  margin-top: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0;
}

.transporte-header {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transporte-content {
  margin-top: 46px;
  padding: 0 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.transporte-text-1 {
  font-size: 12px;
  font-family: "Simonetta", serif;
  color: #fff;
  text-align: center;
  margin: 20px 0 0 0;
  padding: 0;
}

.transporte-text-2 {
  font-size: 12px;
  font-family: "Simonetta", serif;
  color: #fff;
  text-align: center;
  margin: 25px 0 50px 0;
  padding: 0;
}

.transporte-avis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.transporte-europcar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.transporte-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

.transporte-link:hover {
  text-decoration: none;
}

.transporte-avis img,
.transporte-europcar img {
  /* max-width: 200px; */
  height: 32px;
}

.transporte-website {
  font-size: 8px;
  font-family: "Simonetta", serif;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  display: inline-block;
}

.transporte-website:hover {
  text-decoration: none;
  color: #fff;
}

.transporte-attention {
  font-size: 9px;
  font-family: "Simonetta", serif;
  color: #fff;
  text-align: center;
  margin: 87px 0 0 0;
  padding: 0;
}

